# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/staticfiles/

# Environment & secrets
.env
*.env
secret*.py

# Editors & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Test / coverage
.coverage
htmlcov/
.pytest_cache/